<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.franciscogarzil.m8_game">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_wolf"
        android:label="Wolf Dungeon"
        android:roundIcon="@drawable/logo_wolf"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PKG_MENU.howToPlay"></activity>
        <activity android:name=".PKG_MENU.NewCharacter" />
        <activity android:name=".PKG_MENU.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PKG_MENU.MainMenu" />
        <activity android:name=".PKG_MENU.CharacterPage" />
        <activity android:name=".PKG_GAME.inGame" />
        <activity android:name=".PKG_LIBRARY.storeFragment" />
    </application>

</manifest>